<h1 align= "center">Create Review for <%= link_to @item.name, "/items/#{@item.id}" %></h1>
<center>
  <%= render partial: 'form', locals: {path: item_reviews_path, method: :post, button_text: 'Create Review'} %>
</center>
